<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dataDialog">
		<title>Data app</title>
		<size>715,571</size>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxSashWindow" name="ID_SASHWINDOW1" variable="SashWindow1" member="yes">
			<pos>56,40</pos>
			<size>600,520</size>
			<handler function="OnSashWindow1SashDragged" entry="EVT_SASH_DRAGGED" />
			<object class="wxDatePickerCtrl" name="ID_DATEPICKERCTRL1" variable="DatePickerCtrl1" member="yes">
				<pos>460,403</pos>
				<size>-1,-1</size>
				<fg>wxSYS_COLOUR_ACTIVEBORDER</fg>
				<bg>wxSYS_COLOUR_HIGHLIGHT</bg>
				<handler function="OnDatePickerCtrl1Changed" entry="EVT_DATE_CHANGED" />
			</object>
			<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
				<content>
					<item>Glonass</item>
					<item>GPS</item>
					<item>Galileo</item>
					<item>Beidou</item>
					<item>QZSS</item>
				</content>
				<selection>0</selection>
				<pos>33,16</pos>
				<size>244,21</size>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
				<label>Загрузить</label>
				<pos>305,16</pos>
				<size>127,23</size>
				<handler function="OnButton2Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
				<pos>124,214</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Down" member="yes">
				<label>Обработка </label>
				<pos>305,216</pos>
				<size>127,23</size>
				<handler function="OnButton1Click1" entry="EVT_BUTTON" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlH" member="yes">
				<value>0</value>
				<pos>305,95</pos>
				<size>127,-1</size>
				<handler function="OnTextCtrl1Text1" entry="EVT_TEXT" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlB" member="yes">
				<value>0</value>
				<pos>305,140</pos>
				<size>127,-1</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrlL" member="yes">
				<value>0</value>
				<pos>305,185</pos>
				<size>127,-1</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Введите значение высоты:</label>
				<pos>305,77</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Введите значение B:</label>
				<pos>305,122</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Введите значение L:</label>
				<pos>305,167</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>Значения СКО:</label>
				<pos>306,244</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="Button1" member="yes">
				<label>Загрузка Альм</label>
				<pos>474,92</pos>
				<handler function="OnButton1Click2" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>Значения</label>
				<pos>477,130</pos>
				<size>66,13</size>
			</object>
			<object class="wxTimePickerCtrl" name="ID_TIMEPICKERCTRL1" variable="TimePickerCtrl1" member="yes">
				<pos>461,434</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="Button3" member="yes">
				<label>Label</label>
				<pos>314,418</pos>
				<handler function="OnButton3Click2" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
