<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="GridDialog">
		<title>Grid</title>
		<centered>1</centered>
		<size>679,551</size>
		<minsize>-1,-1</minsize>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<object class="wxSashWindow" name="ID_SASHWINDOW1" variable="SashWindow1" member="yes">
			<pos>80,112</pos>
			<size>304,328</size>
			<handler function="OnSashWindow1SashDragged" entry="EVT_SASH_DRAGGED" />
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
				<pos>36,171</pos>
				<size>74,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label></label>
				<pos>176,188</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrl7" member="yes">
				<pos>163,89</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Конечное значение</label>
				<pos>163,71</pos>
			</object>
			<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
				<label>Шаг</label>
				<content>
					<item>Высоте</item>
					<item>Широте</item>
					<item>Долготе</item>
				</content>
				<default>3</default>
				<pos>36,51</pos>
				<size>79,86</size>
				<handler function="OnRadioBox1Select" entry="EVT_RADIOBOX" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Значение сетки</label>
				<pos>33,155</pos>
			</object>
			<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="CheckListBox1" member="yes">
				<content>
					<item>GDOP</item>
					<item>HDOP</item>
				</content>
				<pos>34,235</pos>
				<size>98,63</size>
				<handler function="OnCheckListBox1Toggled1" entry="EVT_CHECKLISTBOX" />
			</object>
		</object>
	</object>
</wxsmith>
