<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dataDialog">
		<title>Data app</title>
		<size>582,579</size>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxSashWindow" name="ID_SASHWINDOW1" variable="SashWindow1" member="yes">
			<pos>56,40</pos>
			<size>416,520</size>
			<handler function="OnSashWindow1SashDragged" entry="EVT_SASH_DRAGGED" />
			<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
				<content>
					<item>Glonass</item>
					<item>GPS</item>
					<item>Galileo</item>
					<item>Beidou</item>
					<item>QZSS</item>
				</content>
				<selection>0</selection>
				<pos>29,16</pos>
				<size>193,96</size>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
				<label>Загрузить</label>
				<pos>258,16</pos>
				<size>127,23</size>
				<handler function="OnButton2Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
				<pos>124,214</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Label</label>
				<pos>293,216</pos>
				<handler function="OnButton1Click1" entry="EVT_BUTTON" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlH" member="yes">
				<value>200</value>
				<pos>302,95</pos>
				<handler function="OnTextCtrl1Text1" entry="EVT_TEXT" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlB" member="yes">
				<value>55.716367</value>
				<pos>300,131</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrlL" member="yes">
				<value>37.554003</value>
				<pos>300,172</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrlTEST1" member="yes">
				<pos>316,308</pos>
			</object>
		</object>
	</object>
</wxsmith>
